@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');

/*
font-family: "Fira Sans Condensed", serif; 300, 400, 900 для заголовков
font-family: "PT Sans", serif; 400 для обычного текста
font-family: "Secular One", serif; 400 для логотипа
*/

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}


 /*____________________HEADER___________________*/

.header {
    display: grid;
    /*grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-areas: "logo nav search";*/

    grid-template: "logo nav search" max-content / 1fr 1fr 100px ;
    align-items: center;
    justify-items: start;

    padding: 20px 0;

    text-transform: uppercase;
    overflow: hidden;
}


.logo {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #eb564f;
    font-size: 24px;
    width: 150px;
    line-height: 1;

    grid-area: logo;
    justify-self: end;
}

.header__nav {
    grid-area: nav;
    display: flex;
}

.header__nav ul {    
    display: flex;
    gap: 10px;
}

.header__nav a {
    
    padding: 15px;
    transition: color 0.2s;
    position: relative;
    display: inline-block;
}

.header__nav a:hover, .logo:hover {
    color: #54b984;
}

.header__nav a:active {
    color: #44a7a2;
}

.header__nav a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: #54b984;

    position: absolute;
    left: 15px;
    bottom: -200%;

    transition: bottom 0.5s, background-color 0.2s;
}

.header__nav a:hover::after {
    bottom: -80%;       
}

.header__nav a:active::after {    
    background-color: #44a7a2;
    
}

.search {
    grid-area: search;
}

.search__icon {
    transition: fill 0.2s;
}

.search__icon:hover {
    fill: #54b984;
}

.search__icon:active {
    fill: #44a7a2;
}
