@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');

/*
font-family: "Fira Sans Condensed", serif; 300, 400, 900 для заголовков
font-family: "PT Sans", serif; 400 для обычного текста
font-family: "Secular One", serif; 400 для логотипа
*/

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}